<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Freak</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="{% static 'frontend/css/index.css' %}">
</head>
<body>
    <a href="login.html" class="login-button">Login</a>
    <div class="text-container">
        <div class="title">Gym Freak</div>
        <div class="subtitle">Your Fitness, Our Passion</div>
    </div>
    <script src="{%static "frontend/main.js"}"></script>
</body>
</html>
